{% extends 'base.html' %}

{% block content %}
    <div class="container" style="background: #212129;padding-top: 12px;padding-bottom: 12px;">
        <div class="row mx-auto">
            <div class="col-xxl-7" style="width: 100%;">
                <p style="font-weight: bold;font-size: 26px;text-align: center;">Page Not Found</p>
                <p style="font-weight: bold;font-size: 16px;text-align: center;color: rgb(176, 189, 211);">We've looked everywhere but we can't find this page</p>
            </div>
        </div>
    </div>
{% endblock %}